/*
 * ------------------------------------------------------------
 * General Styling
 * ------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    padding: 2rem 0;

}

/*
 * ------------------------------------------------------------
 * Search Form Styling
 * ------------------------------------------------------------
 */

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 800px;
    padding: 2rem 4rem;

    border: 2px solid black;
    border-radius: 10px;
}

.form-field {
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    
    width: 100%;
    height: 80px;
}

.searchbar {
    border: 1px solid black;
}
/* Indicates an incorrect value in the search bar */
.field-error {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.041);
    outline: 1px solid red;
}
/* Explains the details of incorrectness  */
.error-message {
    color: rgb(252, 62, 62);
}

button {
    padding: 0.7rem 1.4rem;

    cursor: pointer;
}

/*
 * ------------------------------------------------------------
 * Weather Information Layout Styling
 * ------------------------------------------------------------
 */

.weather-body {
    display: grid;
    grid: 1fr 2fr / 1fr 2fr;

    width: 80vw;
    height: 100vh;
    
    border: 1px solid black;

    font-size: 20px;
}

/*
 * ------------------------------------------------------------
 * Location Information Styling
 * ------------------------------------------------------------
 */

.location-info-container {
    background-color: aqua;
}

.location-inline-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.city {
    font-size: 80px;
}

.country {
    font-size: 50px;
}

/*
 * ------------------------------------------------------------
 * Current Weather Information Styling
 * ------------------------------------------------------------
 */

.current-temp {
    font-size: 80px;
}

.current-weather-description {
    font-size: 50px;
}